*{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
  text-align: center;
}

#three-images{
  width: 718.625px;
  height: 200px;
}

#left{
  float: left;
  height: 200px;
  width: 200px;
  margin: auto;
}

#center{
  float: left;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 56px;
}

#right{
  float: left;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 56px;
}

#demo-chart{
  
}
